.cell {
  display: grid;
  place-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #faad14;
  user-select: none;
  color: #fff;
  font-weight: bold;
}

.opened {
  background-color: #14213d;
}

.mine {
  background-color: #ff3f3f;
}

.color {
  &-1 {
    color: #219ebc;
  }
  &-2 {
    color: #2a9d8f;
  }
  &-3 {
    color: #f28482;
  }
  &-4 {
    color: #457b9d;
  }
  &-5 {
    color: #d4a373;
  }
  &-6 {
    color: #48cae4;
  }
  &-7 {
    color: #000;
  }
  &-8 {
    color: #fff;
  }
}

@media screen and (max-width: 566px) {
  .cell {
    width: 32px;
    height: 32px;
  }
}
