.cell {
  display: grid;
  place-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #faad14;
  user-select: none;
  color: #fff;
  font-weight: bold;
}

.opened {
  background-color: #14213d;
}

.mine {
  background-color: #ff3f3f;
}
